.hello {
    margin: 90px 20px 0px 20px;
    text-align: center;
  }
  
  .hello-title {
    display: inline-block;
    margin-bottom: 10px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-size: 70px;
    line-height: 1.5;
    background: linear-gradient(45deg, #f200ff 16%, rgb(0, 255, 110) 90%);
    background: -webkit-linear-gradient(45deg, #f200ff 16%, #fbff00 90%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientEffect 8s infinite alternate;
    transition: 1s;
  }
  
  .hello-title:hover {
    transform: scale(1.1, 1.1);
  }
  
  @keyframes gradientEffect {
    from {
        background-position: left
    }
  
    to {
        background-position: right
    }
  }
  
  .hello-subtitle {
    display: inline-block;
    margin-bottom: 10px;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 23px;
    background: linear-gradient(45deg, #f200ff 16%, rgb(0, 255, 110) 90%);
    background: -webkit-linear-gradient(45deg, #f200ff 16%, #fbff00 90%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientEffect 8s infinite alternate;
    transition: 1s;
  }
  
  .hello-subtitle:hover {
    transform: scale(1.1, 1.1);
  }
  
  .privacy {
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 90%;
  }
  