/* ヘッダー */
#header {
    width: 100%;
    background-color: var(--header-back);
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.171);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

#header .header-inner {
    height: 44px;
    display: flex;
    align-items: center;
}

#header .header-inner .logo {
    flex-shrink: 0;
    width: 18px;
    line-height: 1px;
    margin-right: 9%;
}

#navi {
    width: 100%;
}

#navi ul {
    display: flex;
    align-items: center;
    justify-content: right;
    list-style: none;
}

#navi a {
    text-decoration: none;
    height: 44px;
    line-height: 44px;
    display: inline-block;
    color: var(--main-text);
    font-size: 14px;
    padding: 0 10px;
    opacity: 0.8;
    transition: all 0.5s;
}

#navi a:hover {
    opacity: 1;
}

.hamburger {
    display: none;
}


/* ヘッダー ハンバーガー */
@media screen and (max-width: 767px) {
    .hamburger {
        width: 44px;
        height: 44px;
        display: block;
        position: fixed;
        top: 0;
        right: 8px;
        z-index: 20;
        cursor: pointer;
    }

    .hamburger span {
        width: 16px;
        height: 2px;
        background: var(--main-text);
        position: absolute;
        left: 14px;
        transition: 0.3s ease-in-out;
    }

    .hamburger span:nth-child(1) {
        top: 19px;
    }

    .hamburger span:nth-child(2) {
        top: 25px;
    }
}

@media screen and (max-width: 767px) {
    .hamburger.active span:nth-child(1) {
        top: 22px;
        transform: rotate(-135deg);
    }

    .hamburger.active span:nth-child(2) {
        top: 22px;
        transform: rotate(-225deg);
    }
}

@media screen and (max-width: 767px) {
    #header .header-inner .logo {
        z-index: 11;
    }

    #navi {
        position: fixed;
        background: var(--third-back);
        top: 0;
        left: 0;
        transform: translateY(-100%);
        transition: all 0.4s;
        z-index: 10;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.171);
    }

    #navi a {
        font-size: 15px;
        padding-left: 50;
    }

    #navi ul {
        flex-direction: column;
        padding: 44px 40px 15px 40px;
        text-align: left;
    }

    #navi ul li {
        width: 100%;
        border-bottom: solid 0.5px var(--line);
    }

    #navi ul li:last-child {
        border-bottom: none;
    }

    #navi.active {
        transform: translateY(0%);
    }
}



/* フッター */
#footer {
    width: 100%;
    background-color: var(--third-back);
    color: #86868b;
    font-size: 12px;
    position: static;
    bottom: 0;
    padding: 35px 20px 45px 20px;
    margin-top: 40px;
    border-radius: 20px 20px 0 0;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.205));
}


#footer .footer-logo {
    flex-shrink: 0;
    width: 16px;
    line-height: 1px;
    margin-right: 9%;
}

#footer .footer-sns {
    width: 100%;
}

#footer .sns-icons {
    height: 27px;
    margin-top: 20px;
}

#footer .icon {
    max-height: 100%;
    margin-right: 5px;
    padding: 4px;
    filter: var(--img-change-white);
}

#footer .footer-menu {
    display: flex;
    padding-bottom: 20px;
    margin-bottom: 15px;
    margin: 0 auto;
    max-width: 100%;
}

#footer .footer-menu .menu {
    width: 33%;
}

#footer .footer-menu .title {
    color: var(--main-text);
    font-weight: bold;
    margin-top: 20px;
}

#footer .footer-menu .title2 {
    color: var(--main-text);
    font-weight: bold;
    margin-top: 20px;
}

#footer .footer-menu li {
    margin-top: 10px;
    list-style: none;
    line-height: 8px;
}

#footer .footer-menu a {
    color: var(--sub-text);
    text-decoration: none;
}

#footer .footer-menu a:hover {
    color: var(--blue-1);
}

#footer .line {
    border-top: 1px solid var(--line);
    margin: 0 auto;
}

#footer .footer-under {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#footer .copyright {
    font-size: 12px;
    color: var(--main-text);
}

#footer .text2s {
    display: flex;
    text-align: right;
    display: flex;
}

#footer .text2 {
    font-size: 12px;
    color: var(--sub-text);
    list-style: none;
    text-decoration: none;
    margin-left: 10px;
}

#footer .text2:hover {
    color: #8991ff;
}

#footer .text1 {
    font-size: 8px;
    color: var(--sub-text);
}