/* カラー設定 */
:root {
    --main-back: #FFF;
    --sub-back: #f3f3f3;
    --third-back: #FFFFFF;
    --four-back: #f3f3f3;
    --main-text: #000000;
    --sub-text: #6e6e6e;
    --third-text: #333333;
    --url: #0066c0;
    --url-active: #1900ff;
    --line: #cccccc;
    --explain : #b700ff;
    --help : #ff7b00;
    --support : #0084ff;
    --explain-back : #b700ff33;
    --help-back : #ff7b0033;
    --support-back : #0084ff33;
    --header-back: rgba(255, 255, 255, 0.5);
    --blue-1: #8991ff;
    --blue-2: #eaeaff;
    --blue-3: #3232aa;
    --yellow-1: #bdbd00;
    --top-hello-gradation: linear-gradient(#00000046 70%, #ffffff);

    /* 影 */
    --shadow-blackwhite1: 0 0 10px rgba(0, 0, 0, 0.2);

    /* イージング */
    --easing27: cubic-bezier(0, 1, 1, 1);
    /* 徐々に減速 */
    --easing26: cubic-bezier(1, 0, 1, 1);
    /* 徐々に加速 */
    --easing8: cubic-bezier(.6, 0, .4, 1);
    /* 最初と最後がゆっくり*/

    /* スクロールバーカラー */
    --bar-back: rgba(200, 200, 201, 0.2);
    --bar-track: rgba(150, 150, 150, 0.2);
    --bar-hover: rgba(140, 140, 140, 0.3);
    --bar-active: rgba(130, 130, 130, 0.4);

    /* 黒画像の色変化 */
    --img-change-white: none;
    --img-change-black: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);
    --img-change-gray: none;
    --img-change-red: none;
    --img-change-green: none;
    --img-change-blue: none;
    --img-change-skyblue: none;
    --img-change-purple: none;
    --img-change-orange: none;
    --img-change-yellow: none;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-back: #1f1f1f;
        --sub-back: #000000;
        --third-back: #000000;
        --four-back: #1f1f1f;
        --main-text: #eeeeee;
        --sub-text: #bebebe;
        --third-text: #dddddd;
        --url: #40a6ff;
        --url-active: #7060ff;
        --line: #555555;
        --header-back: rgba(0, 0, 0, 0.65);
        --blue-1: #8991ff;
        --blue-2: #000030;
        --blue-3: #4d4dff;
        --yellow-1: #FFFF00;
        --top-hello-gradation: linear-gradient(#00000033 70%, #1f1f1f);

        /* 影 */
        --shadow-blackwhite1: 0 0 10px rgba(185, 185, 185, 0.2);

        /* スクロールバーカラー */
        --bar-back: rgba(0, 0, 0, 0.15);
        --bar-track: rgba(80, 80, 80, 0.5);
        --bar-hover: rgba(100, 100, 100, 0.6);
        --bar-active: rgba(120, 120, 120, 0.7);
        color-scheme: dark;

        /* 黒画像の色変化 */
        --img-change-white: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);
        --img-change-black: none;
        --img-change-gray: invert(50%) sepia(0%) saturate(11%) hue-rotate(143deg) brightness(101%) contrast(93%);
        --img-change-red: invert(15%) sepia(95%) saturate(6932%) hue-rotate(358deg) brightness(95%) contrast(112%);
        --img-change-green: invert(17%) sepia(91%) saturate(7085%) hue-rotate(128deg) brightness(100%) contrast(106%);
        --img-change-blue: invert(8%) sepia(99%) saturate(7044%) hue-rotate(247deg) brightness(100%) contrast(145%);
        --img-change-skyblue: invert(88%) sepia(100%) saturate(2929%) hue-rotate(104deg) brightness(99%) contrast(104%);
        --img-change-purple: invert(11%) sepia(71%) saturate(5170%) hue-rotate(293deg) brightness(87%) contrast(111%);
        --img-change-orange: invert(72%) sepia(26%) saturate(6428%) hue-rotate(1deg) brightness(105%) contrast(102%);
        --img-change-yellow: invert(81%) sepia(81%) saturate(633%) hue-rotate(359deg) brightness(106%) contrast(105%);
    }
}

/* グラデーションテキスト */
.gradation-text-1 {
    background: linear-gradient(45deg, #fa91f1, #5248a7);
    background: -webkit-linear-gradient(45deg, #fa91f1, #5248a7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}