/* カラー設定 */
:root {
    --main-back: #FFF;
    --sub-back: #f3f3f3;
    --third-back: #FFFFFF;
    --main-text: #000000;
    --sub-text: #6e6e6e;
    --url: #0066c0;
    --header-back: rgba(255, 255, 255, 0.5);
    --blue-1: #8991ff;
    --blue-2: #eaeaff;
    --blue-3: #3232aa;
    --yellow-1: #bdbd00;

    --img-change:none;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-back: #1f1f1f;
        --sub-back: #000000;
        --third-back: #000000;
        --main-text: #eeeeee;
        --sub-text: #bebebe;
        --url: #40a6ff;
        --header-back: rgba(0, 0, 0, 0.65);
        --blue-1: #8991ff;
        --blue-2: #000030;
        --blue-3: #4d4dff;
        --yellow-1: #FFFF00;

        --img-change:invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);
    }
}rgba(0, 0, 0, 0.219)