/* メインページ目次 */
#mokuji {
  margin: 30px auto;
  text-align: center;
  position: sticky;
  top: 10px;
  z-index: 5;
  transform: skewX(-10deg);
  width: 90%;
  transition: 0.4s;
}

#mokuji .mokuji {
  background-color: var(--blue-2);
  border-left: solid 3px var(--blue-1);
  text-decoration: none;
  color: var(--maintext);
  margin: 0 3px;
  padding: 0 10px 0 8px;
  transition: 0.5s;
}

#mokuji .mokuji:hover {
  background-color: var(--blue-3);
  color: #FFF;
  border-left: solid 11px var(--blue-3);
  padding: 0 10px 0 0;
}

/* デバイス */
.device-title {
  margin: 80px auto 0 auto;
  text-align: center;
  line-height: .9;
  width: 230px;
}

.device-title h2 {
  font-size: 50px;
}

.device-title h1 {
  font-size: 16px;
}

.devices {
  margin: 40px 0;
}

.devices .text {
  padding: 0 calc((100% - 1260px + 10px)/2);
}

.devices .text p {
  color: var(--subtext);
  font-size: 14px;
}

.devices .main {
  display: flex;
  max-width: 100%;
  padding: 0 calc((100% - 1247px)/2);
  margin: 0 auto;
}

.devices .main article a {
  display: grid;
  grid-template-rows: auto auto auto 1fr auto auto;
  background: var(--secondback);
  border-radius: 10px;
  width: calc(1230px/3);
  margin: 20px 5px;
  height: 430px;
  cursor: default;
  opacity: 1;
}

.devices .peripheral {
  display: flex;
  max-width: 100%;
  padding: 0 calc((100% - 1247px)/2);
  margin: 0 auto;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-padding: 0 0 0 calc((100% - 1237px)/2);
}

.devices .peripheral article a {
  display: grid;
  grid-template-rows: auto auto auto 1fr auto auto;
  background: var(--secondback);
  border-radius: 10px;
  width: calc((1280px - 40px - 10px - 10px)/4);
  margin: 20px 5px;
  height: 400px;
  cursor: default;
  opacity: 1;
  scroll-snap-align: start;
}


.devices article a img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.devices article .category {
  padding: 0 10px;
  margin-top: 10px;
  font-size: 12px;
  color: var(--secondtext);
}

.devices article h3 {
  padding: 0 10px;
  font-size: 20px;
  color: var(--maintext);
}

.devices article .explain {
  padding: 0 10px;
  margin-bottom: 10px;
  font-size: 15px;
  color: var(--subtext);
  overflow-y: auto;
}

.devices article .explain::-webkit-scrollbar {
  display: none;
}

.devices article .price {
  padding: 0 10px;
  margin-bottom: 5px;
  font-size: 14px;
  color: var(--accentcolor);
}

.devices article .price::before {
  content: "￥";
}

.devices article button {
  height: 30px;
  margin: 7px;
  background: var(--fourthback);
  color: var(--subtext);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.devices article button:hover {
  background-color: var(--fifthback);
  color: var(--accentcolor);
}

@media screen and (max-width: 1280px) {
  .devices .text {
    padding: 0 15px;
  }

  .devices .main,
  .devices .peripheral {
    padding: 0 10px;
  }

  .devices .peripheral {
    scroll-padding: 0 0 0 15px;
  }

  .devices .main article a {
    width: calc((100vw - 63px)/3);
    height: 410px;
  }

  .devices .peripheral article a {
    width: calc((100vw - 73px)/4);
  }
}

@media screen and (max-width: 767px) {
  .devices .main {
    display: block;
  }

  .devices .main article a {
    width: 100%;
    height: auto;
  }

  .devices .peripheral article a {
    width: calc((100vw - 53px)/2);
    height: 420px;
  }
}

@media screen and (max-width: 500px) {
  .devices .peripheral article a {
    width: 75vw;
  }

  .devices .peripheral {
    padding: 0 calc(100vw - 75vw) 0 10px;
  }
}

.pc {
  width: 1280px;
  max-width: 100%;
  margin: 60px auto;
  padding: 0 15px;
}

.pc .text {
  margin: 0 0 10px;
}

.pc .text p {
  font-size: 14px;
  color: var(--subtext);
}

.pc .area {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
}

.pc .box {
  width: 100%;
  background: var(--secondback);
  border-radius: 10px;
  padding: 15px;
  line-height: 1;
  transition: .2s;
}

.pc .category {
  font-size: 12px;
  color: var(--subtext);
}

.pc .name {
  color: var(--maintext);
  font-weight: bold;
  margin: 5px 0 10px 0;
  transition: .2s;
}

.pc .impressions {
  font-size: 12px;
  color: var(--subtext);
  line-height: 1.2;
}

.pc .box:hover {
  background: var(--fourthback);
}

.pc .box:hover .name {
  color: var(--accentcolor);
}

.pc .big1,
.pc .big2 {
  grid-column: span 4;
}

.pc .small1,
.pc .small2 {
  grid-column: span 2;
}

@media screen and (max-width: 767px) {
  .pc .big1 {
    grid-column: span 12;
  }

  .pc .big2 {
    grid-column: span 4;
    grid-row: span 2;
  }
  
  .pc .small1 {
    grid-column: span 8;
  }

  .pc .small2 {
    grid-column: span 3;
  }

  .pc .small2 .impressions {
    display: none;
  }
}