/* ポリシー */
.policies {
    width: 1280px;
    max-width: 90%;
    margin: 100px auto 50px auto;
}

section {
    margin: 30px 0;
}

h1 {
    display: inline-block;
    font-size: 20px;
    background: linear-gradient(45deg, #553686, #e967ee);
    background: -webkit-linear-gradient(45deg, #8752db, #eba3ee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 0 20px 0;
    transform: translateY(-10px);
}

h2 {
    display: inline-block;
    background: linear-gradient(45deg, #553686, #e967ee);
    background: -webkit-linear-gradient(45deg, #8752db, #eba3ee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
}

h3 {
    margin-bottom: 7px;
}

h4 {
    margin: 20px 0 0 0;
}

p {
    color: var(--subtext);
    font-size: 14px;
}

ul {
    text-decoration: none;
    list-style: circle;
    font-size: 14px;
    margin: 5px 0 5px 20px;
}

hr {
    border: none;
    border-bottom: 1px solid var(--line);
    margin: 30px 0;
}

/* index */
.policy {
    width: 1280px;
    max-width: 100%;
    margin: 100px auto;
}

.policy .box {
    width: 360px;
    max-width: 90%;
    margin: 20px auto;
}

.policy hr {
    margin: 0;
}

.policy .box .section {
    display: flex;
    width: 100%;
    padding: 10px;
    transition: 0.3s;
    border-radius: 5px;
}

.policy .box .section:hover {
    background: var(--fourthback);
}


.policy .box hr {
    border: none;
    border-bottom: 1px solid var(--line);
    margin-left: 60px;
}

.policy .box .icon {
    border-radius: 7px;
    width: 45px;
    height: 45px;
    padding: 5px;
    text-align: center;
    margin: auto 0 auto 2px;
}

.policy .box img {
    width: 100%;
    filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);
    ;
}

.policy .box h3 {
    margin: auto 0 auto 20px;
    font-size: 16px;
    color: var(--maintext);
}

.policy p {
    text-align: center;
    font-size: 10px;
    color: var(--subtext);
}

.policy p::after {
    content: "一部アクセスができないページがあります。";
}

@media screen and (max-width: 767px) {
    .policy {
        margin: 60px auto;
    }
}

.policy .btn {
    text-align: center;
    margin: 50px 0;
}

.policy .btn a {
    border-radius: 40px;
    font-weight: bold;
    transition: .2s;
    font-size: 14px;
    padding: 5px 25px;
    margin: 0 5px;
    color: var(--subtext);
    background: var(--secondback);
}

.policy .btn a:hover {
    background: var(--fourthback);
    color: var(--accentcolor);
}