* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head-1 {
  text-align: center;
  margin: 20px 0;
}

.img-wrap {
  max-width: 1500px;
  margin: 15 auto;
}

.img-wrap img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  object-fit: cover;
}

.wrapper {
  max-width: 1280px;
  padding: 0 22px;
  margin: 0 auto;
  position: relative;
}

.line {
  border-top: 1px solid var(--sub-text);
  margin: 0 auto;
}


.link-more {
  font-size: 14px;
  position: relative;
}

.link-more::after {
  position: absolute;
  top: 54%;
  right: -12px;
  width: 7px;
  height: 7px;
  transform: translateY(-50%) rotate(45deg);
  border-right: 2px solid currentColor;
  border-top: 2px solid currentColor;
  content: "";
}

.link-more:hover {
  text-decoration: underline;
}

.ad {
  margin: 30px auto;
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  .ad {
    max-width: 90%;
  }
}

/* フォント */
html {
  font-size: 100%;
  scroll-behavior: smooth;
  background-color: var(--main-back);
  color: var(--main-text);
}

a {
  text-decoration: none;
  color: var(--url);
}

.fonts1 {
  font-family: 'Noto Sans JP', sans-serif;
}

.fonts21 {
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-size: 80px;
}

.fonts22 {
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-size: 25px;
  color: var(--main-text);
}

.fontsgradationYP {
  display: inline-block;
  background: linear-gradient(45deg, #f200ff 16%, rgb(0, 255, 110) 90%);
  background: -webkit-linear-gradient(45deg, #f200ff 16%, #fbff00 90%);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientEffect 8s infinite alternate;
  transition: 1s;
}

.fontsgradationYP:hover {
  transform: scale(1.1, 1.1);
}

@keyframes gradientEffect {
  from {
    background-position: left
  }

  to {
    background-position: right
  }
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
}


/* メイン */
.title1 {
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: var(--main-text);
  background-size: 200% 100%;
  border-radius: 1000px;
  margin: 0 auto;
  padding: 8px 5px;
  width: 180px;
  background: linear-gradient(90deg, rgb(219, 105, 215) 0%, rgb(219, 217, 107) 100%);
  transition: 0.3s;
}

.title1:hover {
  transform: scale(1.05, 1.05);
  letter-spacing: 0.1em;
}


/* スキル */
.skill-block {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -50px;
  justify-content: space-between;
  padding: 40px 0px 0px 0px;
  color: var(--main-text);
}

.skills {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 48%;
  margin-bottom: 50px;
  transition: 1s;
}

.skills:hover {
  transform: scale(1.03, 1.03);
}

.skills:nth-of-type(3n) {
  margin-right: 0;
}

.skill-img {
  width: 60px;
  height: 53px;
  margin-right: 20px;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  .skill-img img {
    background-color: #FFFFFF;
    border-radius: 50px;
    padding: 5px;
    width: 50px;
  }
}

.skill-more {
  flex: 1;
}

.skill-title {
  margin-bottom: 10px;
}

.skill-text {
  font-size: 14px;
  line-height: 1.8;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  color: var(--sub-text);
}

@media screen and (max-width: 767px) {
  .skill-block {
    display: block;
    margin-bottom: 0;
  }

  .skills {
    width: 100%;
    margin-bottom: 35px;
  }

  .skill-img {
    width: 60px;
    height: 53px;
    margin-right: 10px;
  }

  .skill-item:last-child {
    margin-bottom: 0;
  }

  .skill-title {
    margin-bottom: 5px;
  }

  .skill-text {
    font-size: 14px;
    line-height: 1.7;
    font-family: 'Zen Kaku Gothic New', sans-serif;
  }
}




/* 浮き上がるボタン */
.button_1 a {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 240px;
  padding: 10px 25px;
  color: #FFF;
  transition: 0.5s ease-in-out;
  font-weight: 600;
  background: #6bb6ff;
  filter: drop-shadow(0px 2px 4px #ccc);
  border-radius: 3px;
  border-radius: 50px;
  text-decoration: none;
}

.button_1 a:hover {
  transform: translateY(-2px);
  box-shadow: 0 15px 30px -5px rgb(0 0 0 / 15%), 0 0 5px rgb(0 0 0 / 10%);
}

/* ストア */
.store-hello {
  margin: 90px 20px 0px 20px;
  text-align: center;
}

.store-title {
  display: inline-block;
  margin-bottom: 10px;
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-size: 70px;
  line-height: 1.5;
  background: linear-gradient(45deg, #f200ff 16%, rgb(0, 255, 110) 90%);
  background: -webkit-linear-gradient(45deg, #f200ff 16%, #fbff00 90%);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientEffect 8s infinite alternate;
  transition: 1s;
}

.store-title:hover {
  transform: scale(1.1, 1.1);
}

@keyframes gradientEffect {
  from {
    background-position: left
  }

  to {
    background-position: right
  }
}

.store-subtitle {
  display: inline-block;
  margin-bottom: 10px;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-size: 23px;
  background: linear-gradient(45deg, #f200ff 16%, rgb(0, 255, 110) 90%);
  background: -webkit-linear-gradient(45deg, #f200ff 16%, #fbff00 90%);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientEffect 8s infinite alternate;
  transition: 1s;
}

.store-subtitle:hover {
  transform: scale(1.1, 1.1);
}

.store2 {
  margin: 90px 20px 0px 20px;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
}

.store2-box {
  position: relative;
  margin: 0 auto;
  max-width: 1280px;
}

.store2-boximg {
  max-width: 100%;
  clip-path: inset(20px 20px 20px 20px round 15px);
}

.store2-title {
  color: #1d1d1f;
}

.store2-title-gradation {
  background: linear-gradient(45deg, #f200ff 16%, rgb(0, 255, 110) 90%);
  background: -webkit-linear-gradient(45deg, #f200ff 16%, #fbff00 90%);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientEffect 8s infinite alternate;
  transition: 1s;
}

.store2-text1 {
  position: absolute;
  text-align: right;
  right: 5%;
  bottom: 8%;
  line-height: 1;
}

.hello {
  margin: 90px 20px 0px 20px;
  text-align: center;
}

.hello-title {
  display: inline-block;
  margin-bottom: 10px;
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-size: 70px;
  line-height: 1.5;
  background: linear-gradient(45deg, #f200ff 16%, rgb(0, 255, 110) 90%);
  background: -webkit-linear-gradient(45deg, #f200ff 16%, #fbff00 90%);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientEffect 8s infinite alternate;
  transition: 1s;
}

.hello-title:hover {
  transform: scale(1.1, 1.1);
}

@keyframes gradientEffect {
  from {
      background-position: left
  }

  to {
      background-position: right
  }
}

.hello-subtitle {
  display: inline-block;
  margin-bottom: 10px;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-size: 23px;
  background: linear-gradient(45deg, #f200ff 16%, rgb(0, 255, 110) 90%);
  background: -webkit-linear-gradient(45deg, #f200ff 16%, #fbff00 90%);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientEffect 8s infinite alternate;
  transition: 1s;
}

.hello-subtitle:hover {
  transform: scale(1.1, 1.1);
}

.privacy {
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 90%;
  color: var(--main-text);
}

.privacy a {
  text-decoration: none;
  color: var(--url);
}


/* お問い合わせ */
.Form {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 767px;
}

@media screen and (max-width: 767px) {
  .Form {
    margin-top: 40px;
  }
}

.Form-Item {

  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .Form-Item {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
}

.Form-Item:nth-child(5) {}

.Form-Item-Label {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
  color: var(--main-text);
}

@media screen and (max-width: 767px) {
  .Form-Item-Label {
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
}

.Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}

@media screen and (max-width: 767px) {
  .Form-Item-Label.isMsg {
    margin-top: 0;
  }
}

.Form-Item-Label-Required {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #eb2929;
  color: #fff;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .Form-Item-Label-Required {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
}

.Form-Item-Label-n {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: var(--blue-1);
  color: #fff;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .Form-Item-Label-n {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
}

.Form-Item-Input {
  border: 1px solid var(--sub-back);
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: var(--sub-back);
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .Form-Item-Input {
    margin-left: 0;
    margin-top: 18px;
    height: 40px;
    flex: inherit;
    font-size: 15px;
  }
}

.Form-Item-Textarea {
  border: 1px solid var(--sub-back);
  border-radius: 6px;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 40px;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: var(--sub-back);
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .Form-Item-Textarea {
    margin-top: 18px;
    margin-left: 0;
    height: 200px;
    flex: inherit;
    font-size: 15px;
  }
}

.Form-Btn {
  border-radius: 100px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 280px;
  display: block;
  letter-spacing: 0.05em;
  background: var(--blue-1);
  color: #FFF;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  border: 0px;
  transition: 0.2s;
}

.Form-Btn:hover {
  background-color: var(--blue-3);
}

@media screen and (max-width: 767px) {
  .Form-Btn {
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8;
  }
}

.checkbox1 {
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 15px;
  background-color: var(--sub-back);
  padding: 50px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]+label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: var(--main-text);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"]+label:last-child {
  margin-bottom: 0;
}

input[type="checkbox"]+label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--blue-1);
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked+label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox-text {
  text-align: center;
  font-size: 14px;
  color: #86868b;
}

/* お問い合わせ完了 */
.thanks-box {
  border-radius: 15px;
  background-color: var(--sub-back);
  width: 650px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
  max-width: 90%;
  padding: 15px;
}

.thanks-box-title {
  text-align: center;
  color: var(--main-text);
  font-size: 18px;
}

.thanks-box-text {
  text-align: center;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
  color: var(--sub-text);
}

/* 404 */
.nf {
  text-align: center;
  margin-top: 150px;
}

.nf-text {
  color: var(--main-text);
}

.nf-btns {
  margin: 30px auto;
}

.nf-btn {
  text-decoration: none;
  background-color: var(--sub-text);
  color: #000;
  border-radius: 50px;
  padding: 5px 30px;
  transition: 0.3s;
}

.nf-btn:hover {
  background-color: #1e1e41;
  color: #fff;
}

/* プレゼント */
.presents {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 50px;
  text-align: center;
  color: var(--main-text);
}

.present-title1 {
  font-size: 23px;
}

.present-text1 {
  font-size: 14px;
}

.present-howto {
  background-color: var(--sub-back);
  border-radius: 25px;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  color: var(--main-text);
  text-align: center;
  max-width: 90%;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 20px;
}

.present-howto-title {
  font-size: 23px;
  margin-bottom: 10px;
}

.present-howto-text {
  font-size: 16px;
  color: var(--sub-text);
}

.present-text-mini {
  font-size: 12px;
  color: rgb(124, 124, 124);
}

.simple_square_btn6 {
  display: block;
  font-size: 14px;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  width: 160px;
  padding: 0.4em;
  text-align: center;
  text-decoration: none;
  color: #222222;
  background: #fff;
  border-radius: 30px;
  border: 0px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.simple_square_btn6:hover {
  cursor: pointer;
  text-decoration: none;
  -webkit-animation: simple_square_btn6 0.5s both;
  -moz-animation: simple_square_btn6 0.5s both;
  animation: simple_square_btn6 0.5s both;
  background-color: #585858;
  color: #fff;
}

@-webkit-keyframes simple_square_btn6 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@-moz-keyframes simple_square_btn6 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes simple_square_btn6 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.present-attention {
  width: 500px;
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

.present-a-title {
  text-align: center;
  font-size: 23px;
  margin-bottom: 10px;
  color: var(--main-text);
}

.present-a-text {
  font-size: 14px;
  color: var(--sub-text);
}

.present-ex {
  background-color: var(--main-back);
  text-align: left;
  padding: 15px;
  width: 180px;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.present-ex-img {
  max-width: 100%;
  width: 500px;
  border-radius: 15px;
  margin-top: 15px;
}

.present-img {
  max-width: 100%;
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.present-samune {
  max-width: 90%;
  width: 720px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.pre-a-top {
  margin-top: 80px;
}

.pre-a-top-title {
  text-align: center;
}

.pre-a-top-text {
  text-align: center;
  text-decoration: none;
}

.pre-a-howto {
  margin-top: 30px;
}

.pre-a-img {
  width: 500px;
  max-width: 90%;
  border-radius: 10px;
  margin-top: 15px;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.26));
}

.pre-a-un {
  margin: 30px auto;
  text-align: center;
}

/* ゲーム */
.game-box {
  border-radius: 15px;
  background-color: var(--sub-back);
  width: 720px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 90%;
  padding: 20px;
  transition: 0.5s;
}

.game-box:hover {
  transform: scale(1.03, 1.03);
  background-color: var(--blue-2);
  color: #fff;
}

.game-inside {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.game-img {
  width: 60px;
  margin-right: 20px;
}

.game-more {
  flex: 1;
}

.game-title {
  margin-bottom: 5px;
  font-family: 'Edu VIC WA NT Beginner', cursive;
  color: var(--main-text);
}

.game-text {
  font-size: 14px;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  color: var(--sub-text);
}

.game-btn {
  display: block;
  font-size: 14px;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  width: 180px;
  padding: 0.4em;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background: var(--blue-1);
  border-radius: 30px;
  border: 0px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: 1s;
}

.game-btn:hover {
  cursor: pointer;
  text-decoration: none;
  -webkit-animation: game-btn 0.5s both;
  -moz-animation: game-btn 0.5s both;
  animation: game-btn 0.5s both;
  background-color: var(--blue-3);
  color: #fff;
}

@-webkit-keyframes game-btn {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@-moz-keyframes game-btn {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes game-btn {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.game-fb {
  font-size: 8px;
  color: #7e7e7e;
  text-align: center;
  margin-top: 5px;
}

.game-title2 {
  margin-bottom: 5px;
  text-align: center;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  color: var(--main-text);
}

.game-text2 {
  font-size: 14px;
  text-align: center;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  color: var(--sub-text);
}

.game-faq {
  max-width: 720px;
  width: 90%;
  margin: 0 auto;
}

.game-faq-titles {
  margin-top: 30px;
  margin-bottom: 20px;
  margin: 0 auto;
  text-align: center;
}

.game-faq-title {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  margin-bottom: 5px;
  color: var(--main-text);
}

.game-faq-text {
  font-size: 10px;
  color: var(--sub-text);
}

.game-faq-url {
  font-size: 10px;
  color: var(--url);
  text-decoration: none;
}

.game-faq-box {
  margin-top: 20px;
  margin-bottom: 20px;
}

.game-q {
  background: linear-gradient(transparent 60%, rgba(255, 255, 102, 0.425) 30%);
  font-weight: bold;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  color: var(--main-text);
}

.game-a {
  font-size: 14px;
  color: var(--sub-text);
}

.game-a-url {
  text-decoration: none;
  font-size: 14px;
  color: var(url);
}

.game-blog {}

.game-blog-top {
  margin: 30px auto 10px auto;
  text-align: center;
}

.game-blog-top-title {
  color: var(--main-text);
}

.game-blog-top-text {
  font-size: 12px;
  color: var(--sub-text);
}

.blog-slide {
  display: flex;
  max-width: 100%;
  width: 1280px;
  margin: 0 auto 20px auto;
  /* IE, Edge 対応 */
  -ms-overflow-style: none;
  /* Firefox 対応 */
  scrollbar-width: none;
}

/* Chrome, Safari 対応 */
.blog-slide::-webkit-scrollbar {
  display: none;
}

.blog-slide ul {
  display: flex;
  overflow-x: auto;
  padding: 0;
  scroll-snap-type: x mandatory;
  margin: 0 auto;
}

.blog-slide li {
  min-width: 40%;
  max-width: 50%;
  margin: 5px;
  padding: 0;
  list-style: none;
  scroll-snap-align: center;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-margin-left: 20px;
  display: flex;
  padding: 0 10px;
}


.blog-box {
  border-radius: 10px;
  background-color: var(--sub-back);
  height: 100%;
}

.blog-box-url {
  text-decoration: none;
}

.blog-box-img {
  border-radius: 10px 10px 0 0;
  max-width: 100%;
}

.blog-box-more {
  margin: 5px 10px 10px 10px;
}

.blog-box-more-title {
  font-weight: bold;
  color: var(--main-text);
}

.blog-box-more-text {
  font-size: 12px;
  color: var(--sub-text);
}


@media screen and (max-width: 767px) {
  .blog-slide li {
    min-width: 80%;
  }

  .blog-box-more-title {
    font-size: 14px;
  }

  .blog-box-more-text {
    font-size: 11px;
  }
}

.faq-btn {
  background-color: var(--blue-2);
  border-radius: 50px;
  color: var(--main-text);
  padding: 5px 20px;
  text-decoration: none;
  font-size: 11px;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  float: right;
  transition: 0.5s;
}

.faq-btn:hover {
  background-color: var(--blue-3);
  color: #FFFFFF;
}

.faq-btns {
  margin-bottom: 40px;
}

.faq-hr {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

.faq-btn2 {
  background-color: rgb(126, 126, 126);
  border-radius: 50px;
  padding: 3px 10px;
  color: #FFF;
  text-decoration: none;
  font-size: 11px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.5s;
  width: 110px;
}

.faq-btn2:hover {
  background-color: rgb(118, 102, 175);
}

.faq-btn2-c {
  text-align: center;
}

/* リンクまとめ */
.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.link {
  border-radius: 15px;
  margin: 8px auto;
  padding: 25px;
  max-width: 49%;
  width: 1280px;
}

.link-face {
  display: flex;
  justify-content: space-between;
}

.link-ico {
  width: 70px;
}

.link-icon {
  border-radius: 50%;
  max-width: 100%;
  width: 70px;
}

.link-main {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

.link-names {
  margin: auto 0;
  margin-left: 10px;
}

.link-name {
  font-size: 18px;
  font-weight: bold;
}

.link-at {
  font-size: 10px;
}

.link-ca {
  transform: skewX(-10deg);
  color: #FFF;
  margin-right: 10px;
}

.link-ca-name {
  padding: 1px 10px;
  font-size: 16px;
}

.link-un {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.link-un-l {
  max-width: 35%;
  width: 300px;
  text-align: center;
  background-color: #FFF;
  border-radius: 30px 0 0 30px;
  margin: auto 0;
  padding: 2px 0;
}

.link-sns-name {
  font-weight: bold;
  font-size: 16px;
}

.link-sns-url {
  font-size: 10px;
  color: rgb(121, 121, 121);
  text-decoration: none;
  line-height: 0.8;
  margin-bottom: 5px;
}

.link-un-r {
  max-width: 65%;
  width: 400px;
  text-align: center;
  margin: auto 0;
  border-radius: 0 30px 30px 0;
  padding: 6.49px 0;
  font-size: 16px;
  transition: 0.3s;
}

.link-btn {
  text-decoration: none;
}

.link-go {
  font-weight: 700;
  color: #FFF;
  transform: skewX(-10deg);
}

.link-un-r:hover {
  font-size: 20px;
  padding: 4px;
}

@media screen and (max-width: 767px) {
  .link {
    max-width: 100%;
    padding: 15px;
  }

  .link-ico {
    width: 55px;
  }

  .link-ca-name {
    font-size: 13px;
  }

  .link-sns-name {
    font-size: 14px;
  }

  .link-sns-url {
    font-size: 9px;
  }
}

/* メインページ目次 */
.mokujies {
  margin: 30px auto;
  text-align: center;
  transform: skewX(-10deg);
  position: sticky;
  top: 50px;
  z-index: 5;
}

.mokuji {
  background-color: var(--blue-2);
  border-left: solid 3px var(--blue-1);
  text-decoration: none;
  color: var(--main-text);
  margin: 0 3px;
  padding: 0 10px 0 8px;
  transition: 0.5s;
}

.mokuji:hover {
  background-color: var(--blue-3);
  color: #FFF;
  border-left: solid 11px var(--blue-3);
  padding: 0 10px 0 0;
}

/* デバイス */
.device-wrapper {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
}

.device-top {
  margin-top: 80px;
}

.kodawari {
  margin: 30px auto;
  padding: 20px;
  max-width: 95%;
  background-color: var(--sub-back);
  border-radius: 10px;
  width: 500px;
}

.kdwr-text {
  text-align: center;
  color: var(--main-text);
}

.kdwr-text2 {
  color: var(--sub-text);
}

.device-ca {
  margin: 30px auto;
}

.device-ca-top {
  background-color: var(--blue-2);
  border-left: solid 10px var(--blue-1);
  padding: 5px 10px;
  max-width: 100%;
  margin: 0 auto 0 10px;
}

.device-ca-name {
  font-size: 24px;
  font-weight: bold;
  color: var(--main-text);
}

.device-ca-text {
  font-size: 14px;
  color: var(--sub-text);
}

.devices {
  max-width: 100%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.device {
  background-color: var(--sub-back);
  border-radius: 10px;
  max-width: 32.5%;
  transition: 0.5s;
  margin: 10px auto 0 auto;
}

.device:hover {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.315));
}

.devices2 {
  display: flex;
  max-width: 100%;
  margin: 0 auto 20px auto;
}

.devices2 ul {
  display: flex;
  overflow-x: scroll;
  padding: 0;
}

.devices2 li {
  min-width: 25%;
  margin: 5px;
  padding: 0;
  list-style: none;
}

.device2 {
  background-color: var(--sub-back);
  border-radius: 10px;
  transition: 0.5s;
  margin: 10px auto 0 auto;
}

.device2:hover {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.295));
}



.device-box-url {
  text-decoration: none;
}

.device-img {
  max-width: 100%;
  border-radius: 10px 10px 0 0;
}

.device-texts {
  padding: 0 10px 10px 10px;
}

.device-category-name {
  font-size: 10px;
  color: rgb(119, 119, 119);
}

.device-name {
  font-size: 22px;
  font-weight: bold;
  color: var(--main-text);
}

.device-text {
  font-size: 14px;
  color: var(--sub-text);
}

.device-price {
  font-size: 16px;
  color: var(--yellow-1);
  margin-top: 10px;
}

.buy-device-btn {
  background-color: var(--blue-1);
  border-radius: 5px;
  max-width: 100%;
  margin: 0 auto;
  padding: 5px 0;
  transition: 0.3s;
}

.buy-device-btn:hover {
  opacity: 0.9;
}

.buy-device-url {
  text-decoration: none
}

.buy-device-text {
  color: #fff;
  text-align: center;
}


@media screen and (max-width: 767px) {
  .kdwr-text2 {
    font-size: 14px;
    margin-top: 5px;
  }

  .device {
    max-width: 100%;
  }

  .devices {
    max-width: 95%;
  }

  .devices2 li {
    min-width: 75%;
  }
}

/* アバウト */
.about-ad .video {
  width: 1280px;
  max-width: 100%;
  margin: 50px auto 10px auto;
}

.about-ad .texts {
  max-width: 95%;
  width: 1280px;
  margin: 30px auto;
}

.about-ad .yt {
  margin: 10px 0 40px 0;
  text-align: center;
}

.about-ad .yt a {
  background-color: #eb2929;
  color: #FFF;
  padding: 5px 20px;
  border-radius: 20px;
}

.about-ad .mini {
  font-size: 12px;
  color: var(--sub-text);
}

.about-ad .btns a {
  color: #FFF;
  margin-right: 5px;
  background-color: var(--blue-1);
  border-radius: 20px;
  padding: 5px 20px
}

.about-ad .btns {
  margin: 15px 0;
  display: flex;
  white-space: nowrap;
  overflow-x: auto;
}