*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head-1 {
  text-align: center;
  margin: 50px 0;
}

.img-wrap {
  max-width: 1500px;
  margin: 0 auto;
}

.img-wrap img{
  display: block;
  margi: 0 auto;
  max-width: 100%;
  object-fit: cover;
}

.wrapper {
  max-width: 980px;
  padding: 0 22px;
  margin: 0 auto;
}

.link-more {
  font-size: 14px;
  position: relative;
}
.link-more::after {
  position: absolute;
  top: 54%;
  right: -12px;
  width: 7px;
  height: 7px;
  transform: translateY(-50%) rotate(45deg);
  border-right: 2px solid currentColor;
  border-top: 2px solid currentColor;
  content: "";
}
.link-more:hover {
 text-decoration: underline;
}

/* フォント */
html {
  font-size: 100%;
}
.fonts1 {
  font-family: 'Noto Sans JP', sans-serif;
}
.fonts2 {
  font-family: 'Edu VIC WA NT Beginner', cursive;
}
body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
}

/* ボタン */
/* 浮き上がるボタン */
.button_1 a {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 240px;
    padding: 10px 25px;
    color: #FFF;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: #6bb6ff;
    filter: drop-shadow(0px 2px 4px #ccc);
    border-radius: 3px;
    border-radius: 50px;
}
.button_1 a:hover {
    transform: translateY(-2px);
    box-shadow: 0 15px 30px -5px rgb(0 0 0 / 15%), 0 0 5px rgb(0 0 0 / 10%);
}

/* ヘッダー */
#header {
  width: 100%;
  background-color: #000;
  position: fixed;
  z-index: 10;
}

#header .header-inner {
  height: 44px;
  display: flex;
  align-items: center;
}

#header .header-inner .logo {
  flex-shrink: 0;
  width: 16px;
  line-height: 1px;
  margin-right: 9%;
}

#navi {
  width: 100%;
}

#navi ul {
  display: flex;
  align-items: center;
  justify-content: right;
}

#navi a {
  height: 44px;
  line-height: 44px;
  display: inline-block;
  color: #f5f5f7;
  font-size: 14px;
  padding: 0 10px;
  opacity: 0.8;
  transition: all 0.5s;
}

#navi a:hover {
  opacity: 1;
}
.hamburger {
 display: none;
}

@media (max-width:450px) {
  #navi {
    margin-left: 10;
  }
}
