*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head-1 {
  text-align: center;
  margin: 50px 0;
}

.img-wrap {
  max-width: 1500px;
  margin: 0 auto;
}

.img-wrap img{
  display: block;
  margi: 0 auto;
  max-width: 100%;
  object-fit: cover;
}

/* フォント */
.fonts1 {
  font-family: 'Noto Sans JP', sans-serif;
}
.fonts2 {
  font-family: 'Edu VIC WA NT Beginner', cursive;
}
body {
  font-family: 'Noto Sans JP', sans-serif;
}

/* ボタン */
/* 浮き上がるボタン */
.button_1 a {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 240px;
    padding: 10px 25px;
    color: #FFF;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: #6bb6ff;
    filter: drop-shadow(0px 2px 4px #ccc);
    border-radius: 3px;
    border-radius: 50px;
}
.button_1 a:hover {
    transform: translateY(-2px);
    box-shadow: 0 15px 30px -5px rgb(0 0 0 / 15%), 0 0 5px rgb(0 0 0 / 10%);
}

/* ヘッダー */
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 200px 0 rgba(74, 74, 74, 0.37);
  backdrop-filter: blur( 6.5px );
  -webkit-backdrop-filter: blur( 6.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );


}

.title-text{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
  color: rgb(74, 74, 74);
  border-radius: 100px;
    margin: 50px auto;
    padding: 14px 5px;
    width: 180px;
    background-color: #ffffff;
    transition: 0.3s;
    f}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.header-logo {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  margin-right: 20px;
  letter-spacing: .05em;
}

.header-logo a {
  color: rgb(54, 54, 54);
  font-size: 14px;
}

.gnav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-right: 10px;
}

.gnav-item:not(:last-child) {
  margin-right: 20px;
}

.gnav-item a {
  position: relative;
  font-size: 13px;
  font-weight:lighter;
  display: inline-block;
  padding: 5px 0;
  transition: .3s;
  letter-spacing: .05em;
  color: #333;
}
.gnav-item a:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  content: "";
  transition: .3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #333;
}

.gnav-item a:hover:after {
  width: 100%;
}
