@font-face {
    font-family: 'LSeedJP';
    src: url(https://xullua.com/font/LSeedJPRg.woff) format('woff');
    font-weight: 500, normal;
    font-style: normal;
}

@font-face {
    font-family: 'LSeedJP';
    src: url(https://xullua.com/font/LSeedJPBd.woff) format('woff');
    font-weight: 700;
    font-style: normal;
}

/* スクロールバー */
::-webkit-scrollbar {
    width: 13px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: var(--bar-back);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

::-webkit-scrollbar-thumb {
    background: var(--bar-track);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--bar-hover);
}

::-webkit-scrollbar-thumb:active {
    background: var(--bar-active);
}

.base-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "LSeedJP", sans-serif;
}

html {
    scroll-behavior: smooth;
    background: var(--main-back);
    color: var(--main-text);
}

header {
    background: var(--header-back);
    width: 100%;
    height: 44px;
    position: fixed;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    transform: translateY(-100%);
    transition: .4s;
}

header.active {
    transform: none;
    box-shadow: var(--shadow-blackwhite1);
}

header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    height: 100%;
    max-width: 90%;
    margin: 0 auto;
}

header .logo {
    z-index: 100;
}

header a {
    display: block;
    text-decoration: none;
    color: var(--sub-text);
}

header a:hover {
    color: var(--main-text);
}

header nav {
    display: flex;
}

header nav a {
    display: block;
    margin: 0 5px;
    font-size: 14px;
}

.hamburger {
    display: none;
}

@media screen and (max-width: 767px) {
    .hamburger {
        width: 44px;
        height: 44px;
        display: block;
        position: fixed;
        top: 0;
        right: 8px;
        z-index: 110;
        cursor: pointer;
    }

    .hamburger span {
        width: 16px;
        height: 2px;
        background: var(--main-text);
        position: absolute;
        left: 14px;
        transition: 0.6s;
    }

    .hamburger span:nth-child(1) {
        top: 19px;
    }

    .hamburger span:nth-child(2) {
        top: 25px;
    }

    .hamburger.active span:nth-child(1) {
        top: 22px;
        transform: rotate(-135deg);
    }

    .hamburger.active span:nth-child(2) {
        top: 22px;
        transform: rotate(-225deg);
    }

    nav {
        flex-direction: column;
        position: fixed;
        background: var(--third-back);
        top: 0;
        left: 0;
        transform: translateY(-100%);
        transition: .6s cubic-bezier(0, 1, 1, 1);
        z-index: 10;
        box-shadow: none;
        margin: 0;
        width: 100%;
        z-index: 10;
        padding: 50px 5% 20px 5%;
        border-radius: 0 0 10px 10px;
    }

    header nav a {
        padding: 5px 0;
        border-bottom: solid 0.5px var(--line);
    }

    header nav a:last-child {
        border-bottom: none;
    }

    nav.active {
        transform: translateY(0%);
        box-shadow: var(--shadow-blackwhite1);
    }
}

.about-top {
    width: 1280px;
    max-width: 90%;
    margin: 80px auto 20px auto;
}

.about-top h1 {
    line-height: 1;
    font-size: 30px;
}

.about-top h2 {
    font-size: 20px;
}

.about-top p {
    color: var(--sub-text);
    font-size: 14px;
    margin: 20px 0 0 0;
}

.search {
    width: 100%;
    max-width: 400px;
    display: flex;
    height: 40px;
    background: var(--sub-back);
    border-radius: 10px;
    margin: 40px 0 0 auto;
    padding: 5px 5px 5px 15px;
    transition: .5s;
}

.search input:first-child {
    width: calc(100% - 30px);
    height: 100%;
    background: var(--sub-back);
    border: none;
    outline: none;
}

.search input:last-child {
    width: 30px;
    height: 100%;
    font-size: 20px;
    padding: 0 5px;
    border-radius: 50%;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--main-text);
}

.search input:last-child:hover {
    background: #80808030;
}

.search input:last-child:active {
    background: #80808080;
}

@media screen and (max-width: 767px) {
    .search {
        max-width: 100%;
    }
}

#page_top {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: var(--line);
    border-radius: 50%;
    z-index: 100;
    padding: 21px 18px 15px 18px;
    transition: .4s;
}

#page_top span {
    position: relative;
    display: flex;
    width: 14px;
    height: 14px;
    text-decoration: none;
    border-top: 2px solid #FFF;
    border-left: 2px solid #FFF;
    transform: rotate(45deg);
}

#page_top:hover {
    background: var(--sub-text);
}

footer {
    background: var(--third-back);
    border-radius: 20px 20px 0 0;
    margin: 50px 0 0 0;
    filter: drop-shadow(0 0 8px #0003);
    width: 100%;
}

footer .content {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 45px 40px;
}

footer .logo a {
    text-decoration: none;
    color: var(--sub-text);
    font-size: 18px;
}

footer .logo a:hover {
    color: var(--main-text);
}

footer .sns {
    margin: 20px 0 10px 0;
}

footer .sns img {
    width: 20px;
    filter: var(--img-change-white);
    margin: 0 10px 0 0;
}

footer .menu {
    display: flex;
    justify-content: space-between;
}

footer .menu .box {
    width: 50%;
}

footer .menu a {
    display: block;
    font-size: 13px;
    text-decoration: none;
    color: var(--sub-text);
}

footer .menu a:hover {
    color: var(--main-text);
    background: var(--main-back);
}

footer .copyright {
    border-top: 1px solid var(--line);
    padding: 20px 0 0 0;
    margin: 20px 0 0 0;
}

footer .copyright a {
    text-decoration: none;
    color: var(--url);
}

footer .copyright p:first-child {
    color: var(--sub-text);
    font-size: 12px;
}

footer .copyright p:last-child {
    font-size: 14px;
}