main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-self: center;
    align-items: center;
}

.content {
    margin: 0 auto 15px auto;
    width: 720px;
    max-width: 90%;
}

h1 {
    text-align: left;
    font-size: 30px;
    line-height: 1;
}

.menu {
    margin: 40px 0 50px 0;
}

main .menu a {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-row: 1fr 1fr;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    text-decoration: none;
    background: var(--secondback);
    transition: 1s;
}

.menu h3 {
    color: var(--maintext);
    transition: 1s;
}

.menu img {
    width: 100%;
    grid-row: 1/3;
    grid-column: 1/2;
}

.menu p {
    grid-column: 2;
    color: var(--subtext);
    font-size: 14px;
    transition: 1s;
}

main .menu a:hover {
    transition: .2s;
    transform: scale(1.02);
    filter: drop-shadow(5px 5px 8px #0003);
}

main .menu a:hover h3,
main .menu a:hover p {
    color: var(--url);
    transition: .2s;
}

.connect {
    text-align: center;
}

.connect a {
    text-decoration: none;
    color: var(--subtext);
    background: var(--secondback);
    border-radius: 40px;
    padding: 4px 12px;
    margin: 0 5px;
    font-size: 12px;
    font-weight: bold;
    transition: .2s;
}

.connect a:hover {
    background: var(--fourthback);
    color: var(--accentcolor);
}