main {
    width: 1280px;
    max-width: 100%;
    padding: 0 30px;
    margin: 40px auto;
}

.first {
    margin: 120px 0;
}

.first .imgs {
    margin: 20px auto;
    width: 650px;
    max-width: 100%;
    height: 380px;
    position: relative;
}

.first .imgs .a,
.first .imgs .b,
.first .imgs .c {
    position: absolute;
    border-radius: 15px;
    filter: drop-shadow(0 0 15px #0007);
}

.first .imgs .a {
    width: 350px;
    top: 0;
    right: 20%;
}

.first .imgs .b {
    width: 400px;
    top: 120px;
}

.first .imgs .c {
    width: 330px;
    bottom: 0;
    right: 0;
}

.first h1 {
    text-align: center;
}

.first p {
    text-align: center;
    width: 650px;
    max-width: 100%;
    margin: 0 auto 15px auto;
    color: var(--secondtext);
}

.second {
    margin: 120px 0;
}

.second h2 {
    text-align: center;
    margin: 0 0 20px;
}

.second .box {
    display: flex;
    align-items: center;
    margin: 0 0 30px;
}

.second img {
    width: 40%;
    border-radius: 15px;
    margin: 0 15px 0 0;
}

.second .box:nth-child(2n - 1) img {
    order: 1;
    margin: 0 0 0 15px;
}

.second .box p {
    color: var(--secondtext);
    font-size: 14px;
}

.second .miniboxes {
    display: flex;
    overflow-x: auto;
    padding: 30px 0;
}

.second .minibox {
    min-width: 295px;
    margin: 0 10px 0 0;
}

.second .minibox img {
    width: 100%;
}

.second .minibox p {
    font-size: 14px;
    color: var(--secondtext);
}

.third {
    margin: 120px 0;
}

.third h2 {
    text-align: center;
    margin: 0 0 20px;
}

.third table {
    max-width: 100%;
    width: 650px;
    margin: 0 auto;
    background: var(--secondback);
    padding: 15px;
    border-radius: 15px;
}

.third td,
.third th {
    background: var(--thirdback);
    padding: 2px 6px;
}



sup {
    font-size: 8px;
}

.footnote {
    font-size: 14px;
    color: var(--secondtext);    
}
.footnote ol{
    padding: 0 0 0 17px;
}

.order {
    text-align: center;
    margin: 20px auto;
}

.order a {
    background: var(--themecolor);
    color: #fff;
    text-align: center;
    padding: 5px 15px;
    font-size: 14px;
    border-radius: 99px;
    transition: 1s;
    margin: 0 5px;
}

.order a:hover {
    background: var(--accentcolor);
    transition: .2s;
}