main {
    width: 1280px;
    max-width: 100%;
    padding: 0 30px;
    margin: 40px auto;
}

.order {
    width: 100%;
    margin: 120px auto;
    padding: 30px;
    background: var(--secondback);
    border-radius: 15px;
}

input,
textarea {
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 0 0 0 15px;
    background: var(--thirdback);
    font-family: 'LSeedJP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ ゴシック', 'MS Gothic', HiraKakuProN-W3, 'TakaoExゴシック', TakaoExGothic, 'MotoyaLCedar', 'Droid Sans Japanese', sans-serif;
}

h3 {
    font-size: 18px;
}

form sup {
    font-size: 10px;
    color: #ff4b4b;
    font-weight: bold;
    margin: 0 0 0 2px;
}

.intext {
    width: 50%;
}

.intext p {
    font-size: 14px;
    color: var(--secondtext);
}

form .option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.option input[type="text"],
.option input[type="email"],
.option textarea {
    transition: 1s;
}

.option input[type="text"]:focus,
.option input[type="email"]:focus,
.option textarea:focus {
    transition: .2s;
    background: var(--fourthback);
}

.name input,
.email input {
    min-width: 300px;
    height: 35px;
}

.text textarea {
    resize: vertical;
    width: 45%;
    min-width: 300px;
    min-height: 100px;
    height: 100px;
    max-height: 400px;
}

hr {
    border: none;
    border-bottom: 1px solid var(--line);
    margin: 40px 0 0;
}

form .explain {
    color: var(--secondtext);
    font-size: 14px;
    margin: 10px 0 0;
}

.select input {
    display: none;
}

.select label {
    background: var(--thirdback);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 14px;
    color: var(--secondtext);
    cursor: pointer;
    transition: .2s;
    position: relative;
}

.select label:hover {
    background: var(--fourthback);
    color: var(--accentcolor);
}

.select input:checked+label {
    padding: 10px 36px 10px 20px;
    background: var(--fourthback);
    color: var(--accentcolor);
    font-weight: bold;
    filter: drop-shadow(0 0 10px var(--fourthback));
}

.select label::before {
    transition: .2s;
    opacity: 0;
    position: absolute;
    content: "";
    top: 22px;
    transform: rotate(135deg);
    right: 20px;
    width: 0px;
    height: 0px;
    border-bottom: 2px solid var(--secondtext);
    border-right: 2px solid var(--secondtext);
}

.select input:checked+label::before {
    opacity: 1;
    top: 11px;
    transform: rotate(45deg);
    right: 20px;
    width: 5px;
    height: 13px;
    border-bottom: 2px solid var(--accentcolor);
    border-right: 2px solid var(--accentcolor);
}

.price {
    margin: 40px 0 0;
    text-align: right;
    transition: .2s;
}

.send {
    margin: 50px 0 0;
}

.send button {
    border: none;
    outline: none;
    display: block;
    font-family: 'LSeedJP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ ゴシック', 'MS Gothic', HiraKakuProN-W3, 'TakaoExゴシック', TakaoExGothic, 'MotoyaLCedar', 'Droid Sans Japanese', sans-serif;
    width: 130px;
    background: var(--themecolor);
    font-weight: bold;
    font-size: 16px;
    color: #FFF;
    padding: 7px 21px;
    border-radius: 99px;
    margin: 0 0 0 auto;
    text-align: center;
    cursor: pointer;
    transition: .2s;
    filter: drop-shadow(0 0 10px var(--themecolor));
}

.send button:hover {
    background: var(--accentcolor);
    filter: drop-shadow(0 0 10px var(--accentcolor));
}

.send p {
    text-align: right;
    font-size: 12px;
    margin: 10px 0 0;
    color: var(--secondtext);
}

.agreement input {
    display: none;
}

.agreement label {
    background: var(--thirdback);
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    color: var(--secondtext);
    cursor: pointer;
    position: relative;
    transition: .2s;
}

.agreement label:hover {
    background: var(--fourthback);
}

.agreement label:active,
.agreement input:checked+label:active {
    background: var(--fifthback);
    color: var(--maintext);
    filter: drop-shadow(0 0 10px var(--fifthback));
}

.agreement input:checked+label {
    color: var(--accentcolor);
    background: var(--fourthback);
    padding: 10px 40px 10px 20px;
    filter: drop-shadow(0 0 10px var(--fourthback));
}

.agreement label::before {
    opacity: 0;
    position: absolute;
    content: "";
    top: 22px;
    transform: rotate(135deg);
    right: 20px;
    width: 0px;
    height: 0px;
    border-bottom: 2px solid var(--secondtext);
    border-right: 2px solid var(--secondtext);
    transition: .2s;
}

.agreement input:checked+label::before {
    opacity: 1;
    top: 12px;
    transform: rotate(45deg);
    right: 20px;
    width: 6px;
    height: 13px;
    border-bottom: 2px solid var(--accentcolor);
    border-right: 2px solid var(--accentcolor);
}

.agreement input:checked+label:active:before {
    border-bottom: 2px solid var(--maintext);
    border-right: 2px solid var(--maintext);
}

@media screen and (max-width: 767px) {
    main {
        padding: 15px;
    }

    .order {
        padding: 20px;
    }

    h3 {
        font-size: 16px;
    }

    form sup {
        font-size: 8px;
    }

    .intext {
        width: 100%;
    }

    .intext p {
        font-size: 13px;
    }

    form .option {
        display: block;
        margin: 25px 0;
    }

    .name input,
    .email input {
        min-width: 100%;
        margin: 5px 0 0;
    }

    .text textarea {
        margin: 5px 0 0;
        width: 100%;
    }

    hr {
        margin: 30px 0 0;
    }

    form .explain {
        font-size: 13px;
    }

    .select {
        margin: 15px 0 35px;
    }

    .select label {
        font-size: 13px;
    }

    .select input:checked+label::before {
        width: 5px;
        height: 12px;
    }

    .price {
        margin: 20px 0 0;
        text-align: left;
    }

    .send {
        margin: 50px 0 0;
    }

    .send button {
        width: 130px;
        font-size: 16px;
        padding: 7px 21px;
        margin: 0 auto 0 0;
    }

    .send button:hover {
        background: var(--accentcolor);
    }

    .send p {
        text-align: left;
        font-size: 12px;
        margin: 10px 0 0;
        color: var(--secondtext);
    }

    .agreement {
        margin: 15px 0 0;
    }

    .agreement input:checked+label {
        padding: 10px 40px 10px 20px;
    }
}