/* カラー設定 */
:root {
    --main-back: #FFFfffcd;
    --sub-back: #f3f3f3;
    --third-back: #FFFFFF;
    --four-back: #f3f3f3;
    --main-text: #000000;
    --sub-text: #6e6e6e;
    --url: #0066c0;
    --url-active: #1900ff;
    --line: #cccccc;
    --header-back: rgba(255, 255, 255, 0.5);
    --blue-1: #8991ff;
    --blue-2: #eaeaff;
    --blue-3: #3232aa;
    --yellow-1: #bdbd00;

    --g-purple1: linear-gradient(to right bottom, rgb(243, 119, 136), rgb(139, 61, 158));
    --g-purple2: linear-gradient(to right bottom, rgba(161, 61, 123, 0.8), rgba(88, 74, 165, 0.8));

    /* スクロールバーカラー */
    --bar-back: rgba(200, 200, 201, 0.3);
    --bar-track: rgba(202, 202, 202, 0.3);
    --bar-hover: rgba(219, 219, 219, 0.5);
    --bar-active: rgba(206, 206, 206, 0.8);

    /* 黒画像の色変化 */
    --img-change-white: none;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-back: #1f1f1fcb;
        --sub-back: #000000;
        --third-back: #000000;
        --four-back: #1f1f1f;
        --main-text: #eeeeee;
        --sub-text: #bebebe;
        --url: #40a6ff;
        --url-active: #7060ff;
        --line: #555555;
        --header-back: rgba(0, 0, 0, 0.65);
        --blue-1: #8991ff;
        --blue-2: #000030;
        --blue-3: #4d4dff;
        --yellow-1: #FFFF00;

        --g-purple1: linear-gradient(to right bottom, rgb(135, 50, 168), rgb(9, 8, 70));
        --g-purple2: linear-gradient(rgba(127, 35, 163, 0.8), rgba(22, 21, 97, 0.8));

        /* スクロールバーカラー */
        --bar-back: rgba(0, 0, 0, 0.3);
        --bar-track: rgba(136, 136, 136, 0.5);
        --bar-hover: rgba(133, 133, 133, 0.6);
        --bar-active: rgba(173, 173, 173, 0.7);
        color-scheme: dark;

        /* 黒画像の色変化 */
        --img-change-white: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
    background: var(--g-purple1);
    color: #FFF;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;

}

.ad {
    margin: 30px auto;
    max-width: 80%;
}

@media screen and (max-width: 767px) {
    .ad {
        max-width: 90%;
    }
}

/* ライブラリ */
.library-top {
    margin: 80px auto 30px auto;
    text-align: center;
    max-width: 95%;
}

.library-top-title {
    font-size: 54px;
    font-weight: 900;
}

@media screen and (max-width: 767px) {
    .library-top-title {
        font-size: 48px;
    }
}

/* アバウト */
.about {
    text-align: center;
}

.about .open-btn {
    margin: auto;
    padding: 5px 25px;
    background: var(--blue-1);
    border-radius: 30px;
    font-weight: 500;
    cursor: pointer;
    color: #FFF;
    transition: .2s;
}

.about .open-btn:hover {
    background: var(--blue-3);
}

.about input[name="about-name"] {
    display: none;
}

.about .content {
    display: none;
}

input:checked+.about-btn+.content {
    display: block;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    color: #FFF;
    background: var(--g-purple2);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);

}

.area {
    width: 720px;
    max-width: 90%;
    margin: 50px auto;
}

.about .content .close-btn {
    display: block;
    position: fixed;
    bottom: 50px;
    text-align: center;
    width: 720px;
    max-width: 90%;
    border: 1.5px solid #FFF;
    border-radius: 20px;
    padding: 5px;
    margin: 5px auto;
    cursor: pointer;
    transition: .2s;
}

.about .content .close-btn:hover {
    background: #FFF;
    color: #000;
}

.about .content h2 {
    margin: 50px 0 0 0;
    font-weight: 900;
    font-size: 34px;
}

.about .content .welcome {
    margin: 0 0 40px 0;
    font-size: 14px;
}

.about .content .sec {
    margin: 20px auto;
    display: flex;
    cursor: default;
    transition: .5s;
    border-radius: 5px;
    padding: 10px;
}

.about .content .sec:hover {
    background: #FFFFFF11;
}

.about .content .sec img {
    filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);
    width: 50px;
    height: 50px;
}

.about .content .sec .text {
    text-align: left;
    padding-left: 20px;
}

.about .content .text h3 {
    font-size: 20px;
}

.about .content .text p {
    color: #ddd;
}

@media screen and (max-width: 767px) {
    .area {
        margin: 20px auto;
    }

    .about .content h2 {
        margin: 40px 0 0 0;
        font-size: 28px;
    }

    .about .content .welcome {
        margin: 0 0 20px 0;
    }

    .about .content .sec {
        margin: 10px auto;
    }

    .about .content .close-btn {
        bottom: 30px;
    }

    .about .content .sec img {
        width: 40px;
        height: 40px;
    }

    .about .content .text h3 {
        font-size: 18px;
    }

    .about .content .text p {
        font-size: 14px;
    }
}

@media screen and (max-height: 375px) {
    .about .content .text p {
        font-size: 13px;
        line-height: 1.1;
    }
}


/* ダウンロード */
.material {
    margin: 40px 0;
}

.material h2 {
    padding: 0 calc((100vw - 1280px + 20px)/2);
    font-size: 26px;
    font-weight: 900;
}

.material .search {
    padding: 0 calc((100vw - 1280px + 20px)/2);
    position: sticky;
    display: flex;
    align-items: center;
    height: 44px;
    top: 40px;
    z-index: 5;
    white-space: nowrap;
    overflow-x: auto;
}

.material .search::-webkit-scrollbar {
    display: none;
}

.material .search a {
    margin-right: 3px;
    padding: 2px 15px;
    font-size: 14px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.774);
    color: #000;
    filter: drop-shadow(0 0 5px #0000002c);
    transition: .3s;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.material .search a:hover {
    background: #222;
    border: 1px solid #222;
    color: #FFF;
    padding: 2px 20px;
}

.material .search a:active {
    font-weight: bold;
    background: rgba(128, 128, 128, 0.5);
}

.material .sec-title {
    padding: 0 calc((100vw - 1280px + 20px)/2);
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0 5px 0;
}

.materials {
    margin: 0 auto;
    padding: 0 calc((100vw - 1280px - 10px)/2);
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: calc(((100vw - 1280px + 10px)/2));
}

.materials article {
    width: calc((1280px - 20px - 20px*3)/3);
    min-width: calc((1280px - 20px - 20px*3)/3);
    height: 400px;
    margin: 5px 10px;
    border-radius: 10px;
    background: var(--third-back);
    box-shadow: 0 0 10px #0000002d;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    scroll-snap-align: start;
}

.materials article img,
.materials article video {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.materials article h3 {
    margin: 10px 20px 0 20px;
    font-size: 20px;
    color: var(--main-text);
}

.materials article p {
    margin: 0 20px 0 20px;
    padding-top: 5px;
    overflow-y: auto;
    color: var(--sub-text);
}

.materials article .tab {
    display: block;
    margin: 0 20px 20px 20px;
    padding: 5px;
    border-radius: 20px;
    background: #FFFFFF00;
    color: var(--main-text);
    border: 1.5px solid var(--main-text);
    font-weight: bold;
    text-align: center;
    width: calc(100% - 40px);
    transition: 0.2s;
    cursor: pointer;
}

.materials article .tab:hover {
    background: var(--main-text);
    color: var(--third-back);
}

@media screen and (max-width: 1280px) {
    .material h2 {
        padding: 0 20px;
    }

    .material .search {
        padding: 0 20px;
    }

    .material .sec-title {
        padding: 0 20px;
    }

    .materials {
        padding: 0 10px;
        scroll-padding: 20px;
    }

    .materials article {
        width: calc((100vw - 20px - 20px*3)/3);
        min-width: calc((100vw - 20px - 13px - 20px*3)/3);
    }
}

@media screen and (max-width: 767px) {
    .materials {
        padding: 0 calc(100vw - (100vw - 10px - 20px*2)/2 - 45px) 0 10px;
    }

    .materials article {
        width: calc((100vw - 20px - 20px*2)/2);
        min-width: calc((100vw - 20px - 20px*2)/2);
    }
}

@media screen and (max-width: 500px) {
    .material h2 {
        font-weight: 700;
    }

    .materials {
        padding: 0 calc(100vw - 80vw - 30px) 0 10px;
    }

    .materials article {
        width: 80vw;
        min-width: 80vw;
    }
}

input[name="tab-name"] {
    display: none;
}

.materials article .download {
    display: none;
    width: 100%;
    margin: 0 auto;
}

input:checked+.tab+.download {
    display: block;
    z-index: 9999;
    background-color: #00000070;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.materials article .download .main {
    width: 90vw;
    height: 90vh;
    max-width: 720px;
    background-color: var(--main-back);
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto auto 1fr auto auto auto;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    padding: 20px;
    filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.2));
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
}

.materials article .main .close {
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 8px;
    font-size: 30px;
    color: var(--main-text);
}

.materials article .main h3 {
    margin: 30px 0 10px 0;
}

.materials article .main img,
.materials article .main video {
    width: 100%;
    border-radius: 7px;
    filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.1));
}

.materials article .main .explain {
    padding-top: 10px;
    margin: 0;
    overflow-y: auto;
}

.materials article .main .detail {
    margin: 0;
    padding: 0 0 10px 0;
}

.materials article .main .detail a {
    color: var(--sub-back);
    background: var(--main-text);
    border-radius: 20px;
    padding: 2px 12px;
    margin-right: 4px;
    font-size: 12px;
    cursor: default;
}

.materials article .main .agreement {
    margin: 0 0 10px 0;
    font-size: 14px;
    padding-top: 10px;
    border-top: 1px solid var(--line);
}

.materials article .main .dl-btn {
    width: 100%;
    padding: 8px 0;
    text-align: center;
    background: #FFFFFF00;
    color: var(--main-text);
    border: 1.5px solid var(--main-text);
    border-radius: 30px;
    font-weight: bold;
    transition: 0.2s;
}

.materials article .main .dl-btn:hover {
    background: var(--main-text);
    color: var(--third-back);
}

/* 基本 */


.wrapper {
    max-width: 1280px;
    padding: 0 22px;
    margin: 0 auto;
    position: relative;
}