.blog-wrapper {
    margin: 90px auto 50px auto;
    width: 1000px;
    max-width: 90%;
}

.top {}

.samune {
    max-width: 100%;
    border-radius: 15px;
}

.title {
    margin-bottom: 20px;
    font-size: 26px;
}

.main {
    margin-top: 20px;
}

.h2 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 40px;
    background: #eaf5f9;
    border-left: solid 10px #27acd9;
    padding: 0.75rem 1.5rem;
}

.text {
    margin-bottom: 0;
}

.img {
    max-width: 100%;
    border-radius: 10px;
    margin: 0 auto;
    transition: 0.3s;
}
.img:hover {
    transform: scale(1.02, 1.02);
}
.img-c {
    text-align: center;
    margin: 20px 0 10px 0;
}



.youyaku ul {
    margin: 20px;
    padding: 0;
}
.youyaku li {
    list-style-type: circle;
}

@media screen and (max-width: 767px) {
    .title {
        font-size: 21px;
    }

    .h2 {
        font-size: 18px;
        padding: 0.75rem 1rem;
    }

    .text {
        font-size: 14px;
    }
}

/* 画像横並び */
.slide ul {
    display: flex;
    overflow-x: scroll;
    margin: 15px 0;
    padding: 0;
}

.slide li {
    min-width: 60%;
    margin: 5px;
    padding: 0;
    list-style: none;
}
@media screen and (max-width: 767px) {
    .slide li {
        min-width: 80%;
    }
}








* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head-1 {
    text-align: center;
    margin: 20px 0;
}

.img-wrap {
    max-width: 1500px;
    margin: 15 auto;
}

.img-wrap img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    object-fit: cover;
}

.wrapper {
    max-width: 1280px;
    padding: 0 22px;
    margin: 0 auto;
    position: relative;
}

.line {
    border-top: 1px solid #b5b5b5;
    margin: 0 auto;
}


.link-more {
    font-size: 14px;
    position: relative;
}

.link-more::after {
    position: absolute;
    top: 54%;
    right: -12px;
    width: 7px;
    height: 7px;
    transform: translateY(-50%) rotate(45deg);
    border-right: 2px solid currentColor;
    border-top: 2px solid currentColor;
    content: "";
}

.link-more:hover {
    text-decoration: underline;
}

html {
    font-size: 100%;
    font-family: 'Noto Sans JP', sans-serif;
}

#header {
    width: 100%;
    background-color: #000;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
}

#header .header-inner {
    height: 44px;
    display: flex;
    align-items: center;
}

#header .header-inner .logo {
    flex-shrink: 0;
    width: 16px;
    line-height: 1px;
}

#navi {
    width: 100%;
}

#navi ul {
    display: flex;
    align-items: center;
    justify-content: right;
    list-style: none;
}

#navi a {
    text-decoration: none;
    height: 44px;
    line-height: 44px;
    display: inline-block;
    color: #f5f5f7;
    font-size: 14px;
    padding: 0 10px;
    opacity: 0.8;
    transition: all 0.5s;
}

#navi a:hover {
    opacity: 1;
}

.hamburger {
    display: none;
}


/* ヘッダー ハンバーガー */
@media screen and (max-width: 767px) {
    .hamburger {
        width: 44px;
        height: 44px;
        display: block;
        position: fixed;
        top: 0;
        right: 8px;
        z-index: 20;
        cursor: pointer;
    }

    .hamburger span {
        width: 16px;
        height: 2px;
        background: #fff;
        position: absolute;
        left: 14px;
        transition: 0.3s ease-in-out;
    }

    .hamburger span:nth-child(1) {
        top: 19px;
    }

    .hamburger span:nth-child(2) {
        top: 25px;
    }
}

@media screen and (max-width: 767px) {
    .hamburger.active span:nth-child(1) {
        top: 22px;
        transform: rotate(-135deg);
    }

    .hamburger.active span:nth-child(2) {
        top: 22px;
        transform: rotate(-225deg);
    }
}

@media screen and (max-width: 767px) {
    #header .header-inner .logo {
        z-index: 20;
    }

    #navi {
        position: fixed;
        background: #000;
        top: 0;
        left: 0;
        transform: translateY(-100%);
        transition: all 0.4s;
        z-index: 10;
    }

    #navi a {
        font-size: 15px;
        padding-left: 50;
    }

    #navi ul {
        flex-direction: column;
        padding: 44px 40px 15px 40px;
        text-align: left;
    }

    #navi ul li {
        width: 100%;
        border-bottom: solid 0.5px #585858;
    }

    #navi ul li:last-child {
        border-bottom: none;
    }

    #navi.active {
        transform: translateY(0%);
    }
}



/* フッター */
#footer {
    width: 100%;
    background-color: #f5f5f7;
    color: #86868b;
    font-size: 12px;
    position: static;
    bottom: 0;
    padding: 25px 45px 35px 25px;
}


#footer .footer-logo {
    flex-shrink: 0;
    width: 16px;
    line-height: 1px;
    margin-right: 9%;
}

#footer .footer-menu {
    display: flex;
    padding-bottom: 20px;
    margin-bottom: 10px;
    margin: 0 auto;
    max-width: 1280px;
}

#footer .footer-menu .menu {
    width: 33%;
}

#footer .footer-menu .title1 {
    color: #1d1d1f;
    font-weight: bold;
    margin-top: 20px;
}

#footer .footer-menu li {
    margin-top: 10px;
    list-style: none;
    line-height: 8px;
}

#footer .footer-menu a {
    color: #86868b;
    text-decoration: none;
}

#footer .footer-menu a:hover {
    color: rgb(97, 97, 255);
}

#footer .footer-under {
    display: flex;
    justify-content: space-between;
}

#footer .copyright {
    font-size: 12px;
}

#footer text2s {
    display: flex;
    margin: 0 auto;
}

#footer .text2 {
    font-size: 12px;
    color: #696991;
    list-style: none;
    text-decoration: none;
}

#footer .text2:hover {
    color: rgb(97, 97, 255);
}

#footer .text1 {
    font-size: 8px;
    color: #afafaf;
}

/* メインページ */
.main-titles {
    max-width: 90%;
    width: 1280px;
    padding-top: 80px;
    margin: auto;
    text-align: center;
}

.main-logo {
    text-align: center;
}

.main-logo-img {
    max-width: 90%;
    width: 500px;
}

.main-text {
    font-size: 16px;
    font-weight: bold;
}

.blogs {
    padding: 30px 10px;
}

.blogs-text {
    font-weight: bold;
    margin-left: 10px;
}

.blogboxes {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 30px;
}

.blogbox {
    max-width: 49%;
    height: auto;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    padding-bottom: 10px;
}

.blogbox-url {
    text-decoration: none;
}

.blogbox-img {
    border-radius: 10px 10px 0 0;
    max-width: 100%;
}

.blogbox-title {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 18px;
    color: #000;
}

.blogbox-text {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    color: rgb(56, 56, 56);
}

@media screen and (max-width: 767px) {
    .blogboxes {
        display: block;
    }

    .blogbox {
        max-width: 100%;
        margin-bottom: 15px;
    }

    .blogbox-title {
        font-size: 17px;
    }

    .blogbox-text {
        font-size: 12px;
    }
}

.blogbox2 {
    max-width: 32%;
    height: auto;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    padding-bottom: 10px;
}

@media screen and (max-width: 767px) {
    .blogbox2 .blogbox-more {
        flex: 1;
        margin: auto 0;
    }

    .blogbox2 {
        max-width: 100%;
        padding-bottom: 0;
        margin-bottom: 15px;
    }

    .blogbox2 .blogbox-url {
        display: flex;
    }

    .blogbox2 .blogbox-img {
        max-width: 40%;
        border-radius: 10px 0 0 10px;
    }

    .blogbox2 .blogbox-title {
        font-size: 16px;
    }
}

.end {
    text-align: center;
}
.end-box {
    background-color: #f5f5f7;
    border-radius: 15px;
    padding: 20px;
    margin-top: 50px;
}
.end-btn-s {
    margin-top: 20px;
    margin-bottom: 8px
}
.end-btn {
    text-decoration: none;
    padding: 5px 30px;
    background-color: #27acd9;
    border-radius: 50px;
    color: #fff;
    transition: 0.2s;
}
.end-btn:hover {
    background-color: #1e1e41;
}