main {
    margin: 100px auto;
    width: min(1280px, 90%);
}

h1 {
    font-weight: 900;
    font-size: 40px;
}

h1 span {
    font-size: 20px;
    font-weight: 700;
}

h2 {
    margin: 30px 0 10px;
}

h3 {
    margin: 10px 0 0;
}

p {
    color: var(--subtext);
}

.admbti {
    margin: 60px 0;
}

main a {
    background: var(--accentcolor);
    color: #fff;
    font-weight: 700;
    padding: 6px 18px;
    border-radius: 99px;
    transition: .2s;
}

main a:hover {
    background: var(--accentcolorhover);
    color: #fff;
}